---
---
<div class="md:hidden fixed bottom-0 left-0 right-0 bg-white border-t-2 border-proman-orange shadow-2xl z-30 grid grid-cols-2">
  <a href="/offerte/" class="bg-proman-orange text-white font-bold py-4 text-center text-sm">
    Vraag offerte
  </a>
  <a href="tel:+3221234567" class="bg-proman-navy text-white font-bold py-4 text-center text-sm">
    Bel direct
  </a>
</div>
